<h1>Users#edit</h1>
<%= render 'userform' %>

<p> Your listings </p>

<ul>
  <% @userlist.each do |userlisting| %>
    <li>
      <strong> <%= link_to(userlisting.title, userlisting_path(userlisting)) %>- <%= userlisting.location %> </strong>
    </li>
  <%end %>
</ul>
