<h1>Sign Up</h1>

<!-- <form action="/signup" method="post">
  <label>Email</label>
  <input name="email" type="email" placeholder="Email"><br>

  <label>Password</label>
  <input name="password" type="password" placeholder="Password"><br>

  <label>Password Confirmation</label>
  <input name="password_confirmation" type="password" placeholder="Password Confirmation"><br>

  <label>Name</label>
  <input name="name" type="name" placeholder="name"><br>

 <label>location</label>
  <input name="location" type="location" placeholder="location"><br>

   <label>sex</label>
  <input name="sex" type="sex" placeholder="sex"><br>

   <label>phone_number</label>
  <input name="phone_number" type="phone_number" placeholder="phone_number"><br>

   <label>email</label>
  <input name="email" type="email" placeholder="email"><br>

   <label>website</label>
  <input name="website" type="website" placeholder="website"><br>

   <label>fblink</label>
  <input name="fblink" type="fblink" placeholder="fblink"><br>

   <label>sclink</label>
  <input name="sclink" type="sclink" placeholder="sclink"><br>

   <label>twlink</label>
  <input name="twlink" type="twlink" placeholder="twlink"><br>

  <button>Sign Up</button>
</form> -->
<%= render 'userform' %>

